<div class="container box"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">
  <div fxFlex="50%">
    <mat-form-field class="example-full-width">
      <input matInput placeholder="User Identification No" #uId>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="findUser(uId.value)">Find</button>

    <app-user-profile *ngIf="userId" [userId]="userId"
                      (loadCompleted)="onProfileLoad($event)"></app-user-profile>

    <button mat-raised-button *ngIf="userData" color="primary" (click)="addGradStudent()">Add</button>
  </div>
  <div fxFlex="50%">
    <h3>Add New Student</h3>
    <form [formGroup]="studentForm">
      <mat-form-field class="full-width">
        <input matInput placeholder="Name" formControlName="name">
      </mat-form-field>
      <div class="error-text">
        {{nameError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Reg.No" formControlName="registerNo">
      </mat-form-field>
      <div class="error-text">
        {{registerNoError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Department" formControlName="department">
      </mat-form-field>
      <div class="error-text">
        {{departmentError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Degree" formControlName="degree">
      </mat-form-field>
      <div class="error-text">
        {{degreeError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="College" formControlName="college">
      </mat-form-field>
      <div class="error-text">
        {{collegeError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Year" formControlName="year">
      </mat-form-field>
      <div class="error-text">
        {{yearError}}
      </div>

      <mat-form-field class="full-width">
        <input matInput placeholder="Adhaar" formControlName="adhaar">
      </mat-form-field>
      <div class="error-text">
        {{adhaarError}}
      </div>

      <button mat-button color="primary" (click)="addStudent()">Add</button>
    </form>
  </div>
  <div fxFlex="50%">
    <h3>Registered Students</h3>
    <hr/>
    <mat-list>
      <mat-list-item *ngFor="let student of student_list">
        <h3 matLine> {{student['user']['name']}} </h3>
        <p matLine>
          <span> {{student['degree']}}, {{student['department']}} </span>
          <span class="demo-2"> {{student['college']}} </span>
        </p>
      </mat-list-item>
    </mat-list>
  </div>
</div>

