/deep/ body {
  background: white !important;
}

a {
  text-decoration: none;
  color: white;
  font-size: 14px;
}

a:hover, a:active {
  color: lightgray;
}

.navigation-items {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
