<div class="container box"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">
  <div fxFlex="50%">
    <h3>All Employees</h3>
    <hr/>

    <mat-list>
      <mat-list-item *ngFor="let employee of employeeList">
        <h3 matLine>{{employee['user']['name']}}</h3>
        <p matLine>{{employee['role']}}, {{employee['department']}}</p>
        <button mat-raised-button color="primary" (click)="relieveEmployee(employee['user']['_id'], employee['_id'])">
          Relieve
        </button>
      </mat-list-item>
    </mat-list>
  </div>
</div>

