<div class="container box"
     fxLayout="column"
     fxLayoutAlign="center"
     fxLayoutGap="10px">
  <div fxFlex="50%">
    <h3>Pending Students</h3>
    <hr/>
    <mat-list>
      <mat-list-item *ngFor="let student of pending_students">
        <h3 matLine> {{student['user']['name']}} </h3>
        <p matLine>
          <span> {{student['degree']}}, {{student['department']}} </span>
          <span class="demo-2"> {{student['college']}} </span>
        </p>
        <button mat-raised-button color="primary" (click)="enroll(student['userId'], student['degree'])">Enroll</button>
      </mat-list-item>
    </mat-list>
  </div>
  <div fxFlex="50%">
    <h3>Enrolled Certificates</h3>
    <hr/>
    <mat-list-item *ngFor="let certificate of certificates" style="cursor: pointer"
                   (click)="onCertificateSelect(certificate)">
      <h3 matLine> {{certificate['student']['user']['name']}} </h3>
      <p matLine>
        <span> {{certificate['student']['degree']}}, {{certificate['student']['department']}} </span>
        <span class="demo-2"> {{certificate['student']['college']}} </span>
      </p>
    </mat-list-item>
  </div>
</div>

