<mat-form-field class="example-full-width">
  <input matInput placeholder="User Identification No" #uId>
</mat-form-field>
<button mat-raised-button color="primary" (click)="findUser(uId.value)">Find</button>
<button mat-raised-button *ngIf="userData" color="primary" (click)="hire()">Hire</button>

<app-user-profile *ngIf="userId && !showHireComponent" [userId]="userId"
                  (loadCompleted)="onProfileLoad($event)"></app-user-profile>
<app-hire-employee *ngIf="showHireComponent" [userData]="userData"></app-hire-employee>
